@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-left">
        <h1 class="display-4">leanote.net-core</h1>
        <p>Learn about <a href="https://github.com/hyfree/leanote.net-core">leanote.net-core with github</a>.</p>

        <p><b>leanote.net-core </b>是基于官方master分支的.net core版本。 leanote.net-core 是不可靠的，<b>不承诺</b>后期的安全维护和功能支持，亦<b>不承诺</b>代码的安全和稳定性，仅供学习和研究用途。</p>
        <p> 如果你有意向使用leanote.net-core请务必确保您能够正确处理可能出现的BUG。</p>

    </div>
